body {
    background-color: #fd1e1efc;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    font-family: Helvetica;
    font-size: 35px;
    text-align: center;
    border: 5px solid white;
    width: 200px;
    padding: 10px;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
}

p {
    flex: 1;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: #fff6f6;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
}