
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;

}

body {
    font-family: Arial, sans-serif;
    margin: auto;
    color: #ffffff;
    background-color: #fd1e1efc
}

header {
    background-color: #db05059a;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
}

#early-career {
    margin-top: 100px;
}

#early-career h2 {
    font-weight: bold;
}

.wrap-first {
    margin-top: 20px;
    padding: 20px;
}

.wrap-first img {
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.wrap-second {
    margin: 10px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fcf1f1;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

footer {
    background-color: #fff6f6;
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}